# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


# Javascript
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Intellij, Eclipse and others editos
.idea/
*.iws
*.iml
*.ipr
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.factorypath
.buildpath
.target
.texlipse
.springBeans
# General
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
xcuserdata/
*.xcscmblueprint
*.xccheckout
build/
DerivedData/
yarn.lock
